decor/
files/
lib/tetgen/
lib/vtk/
openthese.txt
out/FPSC_Nx1024_ML1_NP0_NQ9_tf150_wF/
out/FPSC_Nx1024_ML2_NP0_NQ9_tf150_wF/
out/FPSC_Nx1024_ML2_NP0_NQ9_tf150_wF_v2/
out/FPSC_Nx1024_ML3_NP0_NQ9_tf150_wF/
out/FPSC_Nx1024_ML3_NP0_NQ9_tf150_wF_v2/
out/FPSC_Nx2048_ML1_NP0_NQ9_tf150_wF/
out/FPSC_Nx256_ML1_NP0_NQ9_tf150_wF/
out/FPSC_Nx256_ML2_NP0_NQ9_tf150_wF/
out/FPSC_Nx256_ML3_NP0_NQ9_tf150_wF/
out/FPSC_Nx256_ML4_NP0_NQ9_tf150_wF/
out/FPSC_Nx256_ML5_NP0_NQ9_tf150_wF/
out/FPSC_Nx4096_ML1_NP0_NQ9_tf150_wF/
out/FPSC_Nx512_ML1_NP0_NQ9_tf150_wF/
out/FPSC_Nx512_ML2_NP0_NQ9_tf150_wF/
out/FPSC_Nx512_ML3_NP0_NQ9_tf150_wF/
out/FPSC_Nx512_ML4_NP0_NQ9_tf150_wF/
out/FPSC_TEST/
out/LDC_Nx1024_ML1_NP0_NQ9_Re1000_tf1000/
out/LDC_Nx128_ML4_NP0_NQ9/
out/LDC_Nx128_ML4_NP0_NQ9_LES_Re10k/
out/LDC_Nx128_ML4_NP0_NQ9_Re1000_tf1000/
out/LDC_Nx128_ML4_NP1_NQ9_Re1000_tf1000/
out/LDC_Nx64_ML3_NP0_NQ19_Re1000_tf1000_PL3/
out/LDC_Nx64_ML3_NP0_NQ27_Re1000_tf1000_PL3/
out/LDC_Nx64_ML3_NP0_NQ9_Re1000_tf1000/
out/LDC_Nx64_ML3_NP1_NQ19_Re1000_tf1000_PL3/
out/LDC_Nx64_ML3_NP1_NQ27_Re1000_tf1000_PL3/
out/LDC_Nx64_ML4_NP0_NQ19_Re1000_tf1000/
out/LDC_Nx64_ML4_NP0_NQ19_Re1000_tf1000_PL3/
out/LDC_Nx64_ML4_NP1_NQ9_Re1000_tf1000/
out/LES_TEST/
out/LES_TEST_NEARWALL/
out/LES_TEST_UPLOAD/
out/TEST_UPLOAD/
out/html/
out/interim/
out/latex/
out/results/
out/run.sh
out/video.mp4
profiler.txt
src/a.out
src/batch/
src/generators/old/
src/generators/out_test/
src/input.txt
src/kernel_versions.txt
src/mesh/\[old\]mesh_comm_ave.cu
src/mesh/\[old\]mesh_comm_interp_cubic.cu
src/mesh/\[old\]mesh_comm_interp_cubic_explicit.cu
src/mesh/\[old\]mesh_comm_interp_linear.cu
src/mesh/\[out\]mesh_comm_interp.cu
src/mesh/matrices/
src/mesh/mesh_comm_average_d2q9.cu
src/mesh/mesh_comm_average_d3q19.cu
src/mesh/mesh_comm_average_d3q27.cu
src/mesh/mesh_comm_interp_linear_d2q9.cu
src/mesh/mesh_comm_interp_linear_d3q19.cu
src/mesh/mesh_comm_interp_linear_d3q27.cu
src/mesh/mesh_comm_uniform.cu
src/mesh/mesh_geom.cu
src/profile.nvprof
src/solver/first/
src/solver/hybrid/
src/solver/solver_lbm_collide_d2q9.cu
src/solver/solver_lbm_collide_d3q19.cu
src/solver/solver_lbm_collide_d3q27.cu
src/solver/solver_lbm_init_cons_d2q9.cu
src/solver/solver_lbm_init_cons_d3q19.cu
src/solver/solver_lbm_init_cons_d3q27.cu
src/solver/solver_lbm_init_d2q9.cu
src/solver/solver_lbm_init_d3q19.cu
src/solver/solver_lbm_init_d3q27.cu
src/solver/solver_lbm_stream_inpl_d2q9.cu
src/solver/solver_lbm_stream_inpl_d3q19.cu
src/solver/solver_lbm_stream_inpl_d3q27.cu
src/solver/solver_lbm_stream_naive_d2q9.cu
src/solver/solver_lbm_stream_naive_d3q19.cu
src/solver/solver_lbm_stream_naive_d3q27.cu
src/uniform/a_block.out
src/uniform/a_cell.out
src/uniform/out/.gitignore
src/uniform/out/individual_shuffle.png
src/uniform/out/octree.png
src/uniform/out/octree_shuffle.png
src/uniform/out/out_1.vtk
src/uniform/out/out_10000.vtk
src/uniform/out/structured.png
src/uniform/out/time.txt
test.txt
