decor/
files/
lib/tetgen/
lib/vtk/
lib/eigen-3.4.0/
openthese.txt
out/TEST_UPLOAD_DIRECT/
out/preprint_data_v1/
out/html/
out/interim/
out/latex/
out/results/
out/run.sh
out/video.mp4
out/output.out
profiler.txt
src/a.out
src/batch/
src/generators/old/
src/generators/out/
src/generators/out_test/
src/input.txt
src/kernel_versions.txt
src/profile.nvprof
src/\[TR\]mesh/
src/*.o
src/solver_lbm_collide_d2q9.cu
src/solver_lbm_collide_d3q19.cu
src/solver_lbm_collide_d3q27.cu
src/solver_lbm_set_ic_d2q9.cu
src/solver_lbm_set_ic_d3q19.cu
src/solver_lbm_set_ic_d3q27.cu
src/solver_lbm_stream_inpl_d2q9.cu
src/solver_lbm_stream_inpl_d3q19.cu
src/solver_lbm_stream_inpl_d3q27.cu
src/solver_lbm_stream_naive_d2q9.cu
src/solver_lbm_stream_naive_d3q19.cu
src/solver_lbm_stream_naive_d3q27.cu
src/solver_lbm_average_d2q9.cu
src/solver_lbm_average_d3q19.cu
src/solver_lbm_average_d3q27.cu
src/solver_lbm_interp_linear_d2q9.cu
src/solver_lbm_interp_linear_d3q19.cu
src/solver_lbm_interp_linear_d3q27.cu
test.txt
